<!--noindex-->
<div class="block block-inverse app-block-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Контакты</h6></li>
          <li><a href="https://vk.com/ocheredklientov">Группа ВКонтакте</a></li>
          <li><a href="https://vk.com/nickvorobiov">Автор сайта</a></li>
        </ul>
      </div>
      <div class="col-sm-9">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Вебинар</h6></li>
          <p>Запишись на&nbsp;<a href="http://ok.nickvorobiov.com/">бесплатный вебинар</a> чтобы создать убойное предложение, привлечь горячих клиентов и&nbsp;заключить первые 10 сделок за&nbsp;две недели</p>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--/noindex-->
