<!--noindex-->
<div class="block block-inverse app-block-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Контакты</h6></li>
          <li>Группа ВКонтакте <a href="https://vk.com/ocheredklientov">Очередь клиентов</a></li>
          <li>Автор сайта <a href="https://vk.com/nickvorobiov">Николай Воробьёв</a></li>
        </ul>
      </div>
      <div class="col-sm-7">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Консультация</h6></li>
          <p>Запишись на&nbsp;<a href="http://consult.ocheredklientov.com/">бесплатную консультацию</a> по привлечению клиентов в твой бизнес</p>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--/noindex-->
