---
layout: bone
---

{{ content }}

<!--noindex-->

<div class="container m-b-lg">
  <h1>Подпишись на «Очередь клиентов» ВКонтакте</h1>
  <div id="vk_groups"></div>
  <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
  <script type="text/javascript">
  VK.Widgets.Group("vk_groups", {mode: 0, width: "auto"}, 129164105);
  </script>
</div>

{% include footer.html %}

{% include roistat.html %}
{% include analytics.html %}
{% include metrika.html %}
{% include vk-retarget.html %}
{% include facebook-pixel.html %}

<!--/noindex-->

<!-- begin JS-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

<script src="/js/main.js"></script>
<!-- /END JS-->
