---
layout: base
---

<div class="block block-bordered block-inverse b-head">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.description }}</p>
    <p class="lead">
      {% for cat in site.data.categories %}
        {% for pagecat in page.categories %}
          {% if cat.name == pagecat %}
            {% assign cat_name = cat.name %}
            {% assign cat_title = '#' | append: cat.title %}
            <a href="/">{{ cat_title }}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </p>
  </div>
</div>

<div class="block block-bordered post">
  <div class="container">
    {{ content }}
  </div>
</div>
